<li>
    <a href="{{ site.BASE_PATH}}/">
        <i class="fa fa-home"></i> Home
    </a>
</li>
<!-- <li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}"><i class="fa fa-folder"></i>Categories</a></li> -->
<li>
    <a href="{{ site.BASE_PATH}}/{{ site.tags_path }}">
        <i class="fa fa-tags"></i> Blog Tags
    </a>
</li>
<li>
    <a href="{{ site.BASE_PATH}}/{{ site.projects_path }}">
        <i class="fa fa-rocket"></i> Projects
    </a>
</li>
<li>
    <a href="{{ site.BASE_PATH}}/{{ site.about_path }}">
        <i class="fa fa-info"></i> About
    </a>
</li>
